{% load rest_framework %}

<html><body>
{% if request.user.username%}
<p>Current User : {{request.user.username}}</p>
<p>Rating List</p>
<form method="POST">

<ul class = 'collection' style = 'background-color: #fff'>
	{% for m in model %}
  <li class="collection-item"><b>Name : </b> {{m.name}}  <b> Price : </b>  {{m.price}}  <b> Rating : </b> {{m.rating}}
    <b> Your Rating : </b>  <input type="input" value="">

</li>{% endfor %}
</ul>

<input type="submit" value="Submit">
</form>
<a href = "/api/logout">Logout</a>
{%else%}
<p> User must be logged in!</p>
<a href = "/api/login/">Login Page</a>
{%endif%}

</body></html>
